{% extends "base.html" %}

{% block title -%}
Wiki Editor
{%- endblock title %}

{% block content %}
<ul class="nav nav-tabs">
	<li class="active"><a href="#editor" data-toggle="tab">Editor</a></li>
	<li><a href="#preview" data-toggle="tab" id="previewlink">Preview</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="editor">
		<form method="post" class="form" style="position: relative;">
            <div style="position: relative;">
                <div onclick="changeText()" id="autocomplete" style="margin-right: 50px; cursor: pointer; user-select: none; top: 50px; left: 0; display: none; background-color: lightgray; padding: 4px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); border-radius: 4px;"></div>
                <div onclick="cancelText()" id="autocancel" style="position: absolute; cursor: pointer; user-select: none; top: 50px; right: 0; display: none; background-color: lightgray; padding: 4px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); border-radius: 4px;">x</div>
            </div>
			{{ form.hidden_tag() }}
			{{ input(form.title, placeholder="Title", class="span7", autocomplete="off") }}
			{{ input(form.body, placeholder="Markdown", class="span7", rows="20") }}
			{{ input(form.tags, placeholder="Tags (comma separated)", class="span7", autocomplete="off") }}
			<div class="form-actions">
        <div class="pull-left">
          <a class="btn" href="#preview" id="previewbtn">Preview</a>
        </div>
				<div class="pull-right">
          <a class="btn" href="{{ url_for('wiki.display', url=page.url) }}">Cancel</a>
					<button class="btn btn-success" type="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
	<div class="tab-pane" id="preview"></div>
</div>
{% endblock content %}

{% block sidebar %}
<h3>Editor How-To</h3>
<p>This editor is <a href="http://daringfireball.net/projects/markdown/">markdown</a> featured.</p>
<pre><code>* I
* am
* a
* list</code></pre>
Turns into:
<ul>
<li>I</li>
<li>am</li>
<li>a</li>
<li>list</li>
</ul>
<p><code>**bold** and *italics*</code> turn into <strong>bold</strong> and <em>italics</em>. Very easy!</p>
<p>Create links with <code>[NoTube](http://www.notube.com)</code>. They turn into <a href="http://www.notube.com">NoTube</a>.</p>
<p>Headers are as follows:</p>
<pre><code># Level 1
## Level 2
### Level 3</code></pre>
<p></p>

{% endblock sidebar %}

{% block postscripts -%}
{{ super() }}
$('#previewlink').on('click', function() {
	var $form = $('.form');
  var $inputs = $form.find('input, textarea, button');
  var $pre = $('#preview');
  var bodycontent = 'title: preview\n\n' + $form.find('textarea').val();
  $inputs.prop('disabled', true);
  $pre.removeClass('alert').removeClass('alert-error').html("Loading...");
  $.ajax({
    url: "{{ url_for('wiki.preview') }}",
    type: "POST",
    data: { body: bodycontent },
    success: function(msg) {
      $pre.html(msg);
      console.log(msg);
    },
    error: function() {
			$pre.addClass('alert').addClass('alert-error');
      $pre.html('There was a problem with the preview.');
    },
    complete: function() {
      $inputs.prop('disabled', false);
    }
  });
});

var cancelled = false;

$('#previewbtn').on('click', function(event) {
	event.preventDefault();
	$('#previewlink').click();
});
$('#editor form textarea').on('keyup', function(event){
    var form = document.querySelector("#editor form textarea");
    var autocomplete = document.querySelector("#autocomplete");
    var autocancel = document.querySelector("#autocancel");

    var val = form.value;
    var index = val.lastIndexOf(" ");
    val = val.substr(index + 1);

    if(val.length >= 3){
        var url = "/autocomplete/" + val;
        var code = event.which;
        if(code == '13')
            changeText();
        else if(code == '27')
            cancelText();
        else{
            $.ajax({
                type: "GET",
                url: url
            }).done(function( result ) {

                if(result){
                        console.log(result);
                        autocomplete.style.display = "block";
                        autocancel.style.display = "block";
                        autocomplete.innerHTML = result;

                        var div = document.createElement("DIV");
                        div.innerHTML = autocomplete.firstChild.innerHTML;
                        autocomplete.firstChild.style.display = "none";
                        autocomplete.appendChild(div);

                        autocomplete.style.position = "absolute";

                        cancelled = false;
                }
                else{
                    autocomplete.style.display = "none";
                    autocancel.style.display = "none";
                    cancelled = false;
                }
            }).fail(function( result ){
                    autocomplete.style.display = "none";
                    autocancel.style.display = "none";
                    cancelled = false;
            });
        }
    }
    else{
        autocomplete.style.display = "none";
        autocancel.style.display = "none";
    }
});
function changeText(){
    if(!cancelled){
        var form = document.querySelector("#editor form textarea");
        var autocomplete = document.querySelector("#autocomplete");
        var autocancel = document.querySelector("#autocancel");

        autocomplete.firstChild.style.display = "";
        autocomplete.style.display = "none";
        autocancel.style.display = "none";
        var anchortext = autocomplete.firstChild.outerHTML;

        var val = form.value;
        if(val.indexOf(" ") || val.indexOf("\n")){
            var index = Math.max(val.lastIndexOf(" "), val.lastIndexOf("\n"));
            val = val.substr(0, index);
            val = val + " " + anchortext;
        }
        else{
            val = anchorText;
        }

        form.value = val;
    }
}
function cancelText(){
    cancelled = true;
    document.querySelector("#autocomplete").style.display = "none";
    document.querySelector("#autocancel").style.display = "none";
}
{%- endblock postscripts %}
